fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
pydantic[email]
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.2.1
pymupdf
langchain-text-splitters
sentence-transformers
numpy<2
chromadb
groq
httpx
pytest
pytest-asyncio
pytest-cov
python-dotenv
